<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profesores del curso</title>
</head>
<body>
    <header>
        <h1>Profesores del curse de Git y Github</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/inicio">Inicio del curso</a></li>
            <li><a href="/profesores">Ver los profesores</a></li>
        </ul>
    </nav>
    <h2>Profesores que imparten el curso</h2>
    <ul>
        <li>
            <a href="https://freddyvega.com/john-freddy-vega/" target="_blank" rel="noopener noreferrer">Freddy Vega</a>
        </li>
    </ul>
</body>
</html>
